/* Reset básico */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  padding-top: 120px;
  box-sizing: border-box;
}

/* Header */
.header-items {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: cadetblue;
  z-index: 1000;
}

.header-title,
.header-subtitle {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.header-title {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.header-subtitle {
  font-size: 25px;
  color: lightgray;
}

.list-items {
  display: block;
  width: 100%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  box-sizing: border-box;
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
}

.prepared-list-list-items {
  display: block;
  width: 100%;
  background-color: lightgrey;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  box-sizing: border-box;
}

.list-item-row {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 24px;
}

.list-item {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: cornflowerblue;
}

.list-item-strike-out {
  text-decoration: line-through;
}

.prepared-list-row-buttons-section {
  display: flex;
  flex-direction: row;
  align-items: right;
  gap: 4px;
}

input[type="checkbox"] {
  margin: 0;
  font: inherit;
  width: 1.5em;
  height: 1.5em;
}

.footer-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: cadetblue;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  z-index: 1000;
}

.basic-button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: white;
  background-color:goldenrod;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: fit-content;
}

.image-button {
  background-color:transparent;
  border: none;
}

.prepared-list-button {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 12px;
  background-color:goldenrod;
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: fit-content;
}

.notice-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  background-color: cadetblue;
}

.notice-caption {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  font-size: 16px;
}
